{% extends "main_struct.html" %}

{% block content %}

<div style="margin-left: 5%; margin-right: 5%" class="text-center">
    <h1 style="color: #1A5CC8">Contest List</h1>


    <table border="1" class="flex-table-item-primary" bordercolor="#FFFFFF" class="text-center">
        <tbody>

        <tr class="tbheader" style="background-color: #1A5CC8; color: #FFFFFF">
            <td width="3%">ID</td>
            <td width="42%">Contest Name</td>
            <td width="15%">Start Time (GMT+8)</td>
            <td width="15%">End Time (GMT+8)</td>
            <td width="7%">Type</td>
            <td width="8%">Status</td>
            <td width="10%">Holder</td>
        </tr>

        {% for r in rs %}
        <tr align="center" bgcolor="#f0f8ff">
            <td>{{ r[0] }}</td>
            <td class="text-center"><a href="contestshow?cid={{ r[0] }}">{{ r[1] }}</a></td>
            <td>{{ r[5] }}</td>
            <td>{{ r[6] }}</td>

            {% if r[8] == 1 %}
            <td style="color:green;">Password</td>
            {% elif r[8] == 0 %}
            <td style="color:red ;">Public</td>
            {% else %}
            <td></td>
            {% end %}

            {% if r[10] == 0 %}
            <td style="color:green">Pending</td>
            {% elif r[10] == 1 %}
            <td style="color:red">Runing</td>
            {% elif r[10] == 2 %}
            <td style="color:grey">Ended</td>
            {% else %}
            <td></td>
            {% end %}

            <td><a href="/userstatus?user={{ r[9] }}">{{ r[11] }}</a></td>
        </tr>
        {% end %}

        </tbody>
    </table>

    <h2>
        <a href="/createcontest"> Make a New Contest ! </a> | <a href="/managecontestlist">Manage Your Contest List
        !</a>
    </h2>

    <table align="center">
        <tr>
            <td>
                <form action="contestlist" method="get">
                    <input type="hidden" name="page" value="0">
                    <button class="btn btn-sm btn-outline" type="submit">Top</button>
                </form>
            </td>

            <td width="50px"/>

            <td>
                <form action="contestlist" method="get">

                    {% try %}
                    {% set pageprev = int(page) - 1 %}
                    {% except NameError %}
                    {% set pageprev = 0 %}
                    {% end %}

                    {% if pageprev < 0 %}
                    {% set pageprev = 0 %}
                    {% end %}

                    <input type="hidden" name="page" value="{{ pageprev }}">

                    <button class="btn btn-sm btn-outline" type="submit">Previous Page</button>
                </form>
            </td>

            <td width="50px"/>

            {% try %}
            {% set hasnext = hasNext %}
            {% except NameError %}
            {% set hasnext = True %}
            {% end %}

            {% if hasnext == True %}
            <td>
                <form action="contestlist" method="get">

                    {% try %}
                    {% set pagenext = int(page) + 1 %}
                    {% except NameError %}
                    {% set pagenext = 1 %}
                    {% end %}

                    <input type="hidden" name="page" value="{{ pagenext }}">
                    <button class="btn btn-sm btn-outline" type="submit">Next Page</button>
                </form>
            </td>
            {% elif hasnext == False %}
            <td>
                <button class="btn btn-sm btn-outline disabled" type="submit">Next Page</button>
            </td>
            {% end %}
        </tr>
    </table>

</div>

{% end %}
