{% extends "main_struct.html" %}

{% block content %}

<div style="margin-left: 10%; margin-right: 10%">

<h1>Make a New Contest</h1>
<h4>Current Via User : {{ current_user }}</h4>


<form id="mkcon" action="/createcontest" method="post">

{% raw xsrf_form_html() %}

<p>Contest Name: <input type="text" name="contestname" id="webconname" value=""/></p>
<p>Discription: <input type="text" class="input-block" name="cdescription" value=""/> </p>
<p class="timeinfo">Start Time:<input name="syear" title="Year" type="text" id="webyear" value="{{ year }}"> YYYY
<input name="smonth" title="Month" type="text" value="{{ month }}"> MM
<input name="sday" title="Day" type="text" value="{{ day }}"> DD
<input title="Hour" name="shour" type="text" value="{{ hour }}"> HH
<input title="Minute" name="sminute" type="text" value="{{ minute }}"> MM
<input name="ssecond" type="hidden" value="0"></p>

<p class="timeinfo">Lasting Time:<input title="Day" name="lday" type="text" id="weblday" value="0"> DD <input name="lhour" title="Hour" type="text" value="5"> HH <input title="Minute" name="lminute" type="text" value="0"> MM <input name="lsecond" type="hidden" value="0"></p>

<p class="timeinfo">Contest Type:<span><input name="contesttype" id="contesttype" type="radio" value="0" checked="checked"><span style="color:red;border:none">Public</span>&nbsp;</span> &nbsp;&nbsp;&nbsp;&nbsp;<span><input name="contesttype" id="contesttype1" type="radio" value="1" ><span style="color:green;border:none">Password</span>&nbsp;</span>&nbsp;&nbsp;&nbsp;

</p><p id="passp">Password: <input type="text" value="" id="password" name="password" ></p>

<span id="passp">Hide Problem &nbsp;&nbsp;<input type="checkbox" id="hide" name="hide" value="1"></span><span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Allow Copy&nbsp;&nbsp;<input type="checkbox" name="allowcopy" id="allowcopy" value="1"></span><p></p>

<p align="center">
    <input value="Submit" class="btn-outline" type="submit">&nbsp;&nbsp;<input class="btn-outline" value="Reset" type="reset">
</p>

</form>
</div>

{% end %}