<!DOCTYPE html>
<html>
<head>
   <link rel="stylesheet" href="{{ static_url("css/primer.css") }}">
	<title>This is title index</title>
</head>
<body>


<div id="title" class="container">
    <a href="/" class="filter-item selected text-center">
        <h1>The VirtualJudgePY</h1>
    </a>
</div>

<table class="flex-table">
    <td>
        <td>
            <a href="/problem">
                <button class="btn btn-outline" type="button">Problem</button>
            </a>
        </td>
        <td>
            <a href="/status">
                <button class="btn btn-outline" type="button">Status</button>
            </a>
        </td>
        <td>
            <a href="/status">
                <button class="btn btn-outline" type="button">Contest</button>
            </a>
        </td>
    </tr>
</table>

<div align="right">

    {% if len(name)==0  %}
        <form action="/login" method="POST" >
            {% raw xsrf_form_html() %}
            <table>
                <tr>
                    <td>  <input type="text" name="username" placeholder="username"></td>
                </tr>
                <tr>
                    <td>  <input type="password" name="password" placeholder="password"></td>
                </tr>
                <tr>
                    <td>
                        <button class="btn btn-outline" type="submit" action="/login">LogIn</button>
                        <a href="/register" >
                            <button class="btn btn-outline" type="button" >Register</button>
                        </a>
                    </td>
                </tr>
            </table>
        </form>
    {% else %}
        <button class="btn btn-primary" type="button">{{ name }}</button>
    {% end %}


</div>

</body>
</html>