<!DOCTYPE html>
<html>
<head>
   <link rel="stylesheet" href="{{ static_url("css/primer.css") }}">
	<title>This is title index</title>
</head>
<body>
<p>Hello world! This is HTML5 Boilerplate.</p>

<div align="right">

    {% if len(name)==0  %}
        <form action="/login" method="POST" >
            {% raw xsrf_form_html() %}
            UserName: <input type="text" name="username" /> <br />
            PassWord: <input type="password" name="password" /> <br />
            <input type="submit" value="LogIn" action="/login" />
            <form action="/register" method="get">
                <input type="submit" value="Register" action="/register">
            </form>
        </form>
    {% else %}
       UserName: {{ name }}<br />
    {% end %}


</div>

</body>
</html>