{% extends "main_struct.html" %}

{% block content %}
<div align="center">

    <h4> VirtualJudgePY is not a real online judge. It can grab problems from other <br>
        regular online judges and simulate submissions to other online judges. <br>
        It aims to enable holding contests when you don't have the test data. </h4>
    <h2>VirtualJudgePY currently supports the following online judges:</h2>
    <h3>HDU,PKU,ZOJ,BZOJ,Codeforces,Aziu...... and so on</h3>


    <table>
       <tbody>
       <tr>
           <td><span><a href="http://poj.org/" target="_blank"><img width="50px" height="50px" src="http://acm.hust.edu.cn/vjudge/images/remote_oj/poj.ico">POJ</a></span></td>
           <td><span><a href="http://acm.zju.edu.cn/onlinejudge/" target="_blank"><img width="50px" height="50px" src="http://acm.hust.edu.cn/vjudge/images/remote_oj/ZOJ_favicon.ico">ZOJ</a></span></td>
           <td><span><a href="http://livearchive.onlinejudge.org/index.php" target="_blank"><img width="50px" height="50px" src="http://acm.hust.edu.cn/vjudge/images/remote_oj/UVA_favicon.ico">UVALive</a></span></td>
           <td><span><a href="http://acm.sgu.ru/" target="_blank"><img width="50px" height="50px" src="http://acm.hust.edu.cn/vjudge/images/remote_oj/SGU_favicon.ico">SGU</a></span></td>
           <td><span><a href="http://acm.timus.ru/" target="_blank"><img width="50px" height="50px" src="http://acm.hust.edu.cn/vjudge/images/remote_oj/URAL_favicon.ico">URAL</a></span></td>
           <td><span><a href="http://acm.hust.edu.cn/" target="_blank"><img width="50px" height="50px" src="http://acm.hust.edu.cn/vjudge/images/remote_oj/HUST_icon.jpg">HUST</a></span></td>
       </tr>

       <tr>
           <td><span><a href="http://www.spoj.com/" target="_blank"><img width="50px" height="50px" src="http://acm.hust.edu.cn/vjudge/images/remote_oj/SPOJ_favicon.png">SPOJ</a></span></td>
           <td><span><a href="http://acm.hdu.edu.cn" target="_blank"><img width="50px" height="50px" src="http://acm.hust.edu.cn/vjudge/images/remote_oj/HDU_icon.png">HDU</a></span></td>
           <td><span><a href="http://www.lydsy.com/JudgeOnline/" target="_blank"><img width="50px" height="50px" src="http://acm.hust.edu.cn/vjudge/images/remote_oj/HYSBZ_icon.png">BZOJ</a></span></td>
           <td><span><a href="http://uva.onlinejudge.org/" target="_blank"><img width="50px" height="50px" src="http://acm.hust.edu.cn/vjudge/images/remote_oj/UVA_favicon.ico">UVA</a></span></td>
           <td><span><a href="http://codeforces.com/" target="_blank"><img width="50px" height="50px" src="http://acm.hust.edu.cn/vjudge/images/remote_oj/CodeForces_favicon.png">CodeForces</a></span></td>
           <td><span><a href="http://www.z-trening.com/" target="_blank"><img width="50px" height="50px" src="http://acm.hust.edu.cn/vjudge/images/remote_oj/icon-icpc-small.gif">Z-Trening</a></span></td>
       </tr>

       <tr>
           <td><span><a href="http://judge.u-aizu.ac.jp/" target="_blank"><img width="50px" height="50px" src="http://acm.hust.edu.cn/vjudge/images/remote_oj/Aizu_favicon.ico">Aizu</a></span></td>
           <td><span><a href="http://lightoj.com/" target="_blank"><img width="50px" height="50px" src="http://acm.hust.edu.cn/vjudge/images/remote_oj/icon-icpc-small.gif">LightOJ</a></span></td>
           <td><span><a href="http://acm.uestc.edu.cn/" target="_blank"><img width="50px" height="50px" src="http://acm.hust.edu.cn/vjudge/images/remote_oj/UESTC_favicon.png">UESTC</a></span></td>
           <td><span><a href="https://ac.2333.moe/" target="_blank"><img width="50px" height="50px" src="http://acm.hust.edu.cn/vjudge/images/remote_oj/NBUT_icon.jpg">NBUT</a></span></td>
           <td><span><a href="http://acm.fzu.edu.cn/" target="_blank"><img width="50px" height="50px" src="http://acm.hust.edu.cn/vjudge/images/remote_oj/FZU_favicon.gif">FZU</a></span></td>
           <td><span><a href="http://acm.csu.edu.cn/OnlineJudge/" target="_blank"><img width="50px" height="50px" src="http://acm.hust.edu.cn/vjudge/images/remote_oj/CSU_favicon.ico">CSU</a></span></td>
       </tr>

       <tr>
           <td><span><a href="http://cstest.scu.edu.cn/" target="_blank"><img width="50px" height="50px" src="http://acm.hust.edu.cn/vjudge/images/remote_oj/SCU_favicon.ico">SCU</a></span></td>
           <td><span><a href="http://acdream.info/" target="_blank"><img width="50px" height="50px" src="http://acm.hust.edu.cn/vjudge/images/remote_oj/ACdream_favicon.ico">ACdream</a></span></td>
           <td><span><a href="http://www.codechef.com/" target="_blank"><img width="50px" height="50px" src="http://acm.hust.edu.cn/vjudge/images/remote_oj/codechef.ico">CodeChef</a></span></td>
           <td><span><a href="http://codeforces.com/gyms/" target="_blank"><img width="50px" height="50px" src="http://acm.hust.edu.cn/vjudge/images/remote_oj/CodeForces_favicon.png">CF::Gym</a></span></td>
           <td><span><a href="http://openjudge.cn/" target="_blank"><img width="50px" height="50px" src="http://acm.hust.edu.cn/vjudge/images/remote_oj/poj.ico">OpenJudge</a></span></td>
           <td><span><a href="https://www.bnuoj.com/v3/" target="_blank"><img src="https://www.bnuoj.com/v3/ico/bnuoj.ico">BnuVJ</a></span></td>
       </tr>
        </tbody>
    </table>
</div>
{% end %}
