{% extends "main_struct.html" %}

{% block content %}

<div style="margin-left: 5%; margin-right: 5%" class="text-center">
    <h1 style="color: #1A5CC8">Your Web-DIY Contest List</h1>
    <h5 style="color: #1A5CC8">Current Via User: {{ current_user }}</h5>

    <table border="1" class="flex-table-item-primary" bordercolor="#FFFFFF" class="text-center">
        <tbody>

        <tr class="tbheader" style="background-color: #1A5CC8; color: #FFFFFF">
            <td width="5%">ID</td>
            <td width="41%">Contest Name</td>
            <td width="15%">Start Time (GMT+8)</td>
            <td width="14%">End Time (GMT+8)</td>
            <td width="8%">Status</td>
            <td width="17%">Operation</td>
        </tr>

        {% for x in rs %}
        {% module ContestList(x) %}
        {% end %}


        </tbody>
    </table>

    <h2><a href="/createcontest" class="hot">Make a New Web-DIY Contest ! </a> | <a href="/contestlist" class="hot">All
        Web-DIY Contest List</a></h2>
</div>

{% end %}
