{% extends "main_struct.html" %}

{% block content %}

<div class="text-center">
    <h1> title </h1>
    <table align="center">
        <tr>
            <td><strong>Time Limit: 2000MS</strong></td>
            <td width="10px"></td>
            <td><strong>Memory Limit: 32768KB</strong></td>
            <td width="10px"></td>
            <td><strong>64bit IO Format: %I64d & %I64u</strong></td>
            <td width="10px"></td>
            <td><strong><p class="text-closed">SpecialJudge</p></strong></td>
        </tr>

    </table>
    <table align="center">
        <tr>
            <td>
                <button class="btn" type="button">Submit</button>
            </td>
            <td width="30px"></td>
            <td>
                <button class="btn" type="button">Status</button>
            </td>
        </tr>
    </table>
</div>

<div class="text-left">
    <h2>Description</h2>
</div>

<div class="text-left">
    <h2>Input</h2>
    input
</div>

<div class="text-left">
    <h2>Output</h2>
    output
</div>

<div class="text-left">
    <h2>Sample Input</h2>
    sampleinput
</div>

<div class="text-left">
    <h2>Sample Output</h2>
    sampleoutput
</div>

<div class="text-left">
    <h2>Source</h2>
    source
</div>

{% end %}
