{% extends "main_struct.html" %}

{% block content %}
{% autoescape None %}
<div class="text-center">
    <h1><a href="{{ D['url'] }}" target="_blank"> {{ D['title'] }} </a></h1>
    <table align="center">
        <tr>
            <!-- Time Limit: 2000MS -->
            <td><strong>{{ D['timelimit'] }}</strong></td>
            <td width="10px"></td>
            <!-- Memory Limit: 32768KB -->
            <td><strong>{{ D['memorylimit'] }}</strong></td>
            <td width="10px"></td>
            <td><strong>64bit IO Format: %I64d & %I64u</strong></td>
            <td width="10px"></td>
            {% if D['specialjudge'] == 1 %}
            <td><strong><p class="text-closed">specialjudge</p></strong></td>
            {% end %}
        </tr>

    </table>
    <table align="center">
        <tr>
            <td>
                <form action="/submit" method="get">
                    <input type="hidden" name="pid" value="{{ D['pid'] }}"/>
                    <input type="hidden" name="OJ" value="{{ D['originOJ'] }}"/>
                    <input type="hidden" name="Prob" value="{{ D['originProb'] }}"/>
                    {% if cid != -1 %}
                    <input type="hidden" name="cid" value="{{ cid }}"/>
                    {% end %}
                    <button class="btn btn-outline" type="submit">Submit</button>
                </form>
            </td>
            <td width="30px"></td>
            <td>
                <a href="/status?cid={{ cid }}">
                    <button class="btn btn-outline" type="button">Status</button>
                </a>
            </td>
            {% if cid != -1 %}
            <td width="30px"></td>
            <td><a href="/contestshow?cid={{ cid }}">
                <button class="btn btn-outline">ProblemList</button>
            </a></td>
            <td width="30px"></td>
            <td><a href="/ranklist?cid={{ cid }}">
                <button class="btn btn-outline">RankList</button>
            </a></td>
            {% end %}

        </tr>

    </table>
</div>

<div style="margin-left: 5%; margin-right: 5%">
    {% try %}
    {% set test = D['description'] %}
    <div class="text-left">
        <h2>Description</h2>
        {{ D['description'] }}
    </div>
    {% except KeyError %}
    {% end %}

    {% try %}
    {% set test = D['input'] %}
    <div class="text-left">
        <h2>Input</h2>
        {{ D['input'] }}
    </div>
    {% except KeyError %}
    {% end %}

    {% try %}
    {% set test = D['output'] %}
    <div class="text-left">
        <h2>Output</h2>
        {{ D['output'] }}
    </div>
    {% except KeyError %}
    {% end %}

    {% try %}
    {% set test = D['sampleinput'] %}
    <div class="text-left">
        <h2>Sample Input</h2>
        {{ D['sampleinput'] }}
    </div>
    {% except KeyError %}
    {% end %}

    {% try %}
    {% set test = D['sampleoutput'] %}
    <div class="text-left">
        <h2>Sample Output</h2>
        {{ D['sampleoutput'] }}
    </div>
    {% except KeyError %}
    {% end %}

    {% try %}
    {% set test = D['hint'] %}
    <div class="text-left">
        <h2>Hint</h2>
        {{ D['hint'] }}
    </div>
    {% except KeyError %}
    {% end %}

    {% try %}
    {% set test = D['source'] %}
    <div class="text-left">
        <h2>Source</h2>
        {{ D['source'] }}
    </div>
    {% except KeyError %}
    {% end %}

</div>

{% end %}
