{% extends "main_struct.html" %}

{% block content %}
<div style="width: 400px;margin-right: auto;margin-left: auto">
    <h2>Wellcome to register VirtualJudgePY account!</h2>
    <form action="/register" method="post">
        {% raw xsrf_form_html() %}
        <table class="flex-table-item-primary" align="center">
            <tr>
                <td>
                    <input class="input-large" name="username" type="text" placeholder="input your user name">
                </td>
            </tr>
            <tr>
                <td>
                    <input class="input-large" name="password" type="password" placeholder="input your password">
                </td>
            </tr>
            <tr>
                <td>
                    <input class="input-large" name="repassword" type="password" placeholder="repeat your password">
                </td>
            </tr>
            <tr>
                <td>
                    <input class="input-large" name="email" type="email" placeholder="your email">
                </td>
            </tr>
            <tr>
                <td>
                    <input class="input-large" name="school" type="text" placeholder="your school">
                </td>
            </tr>
            <tr>
                <td>
                    <button class="btn btn-primary" type="submit">Register</button>
                </td>
            </tr>
        </table>
    </form>
</div>
{% end %}
