{% extends "main_struct.html" %}

{% block content %}

<link rel="stylesheet" href="{{ static_url("css/prism.css") }}">


<table cellspacing="0" cellpadding="0" width="100%" border="0">

    <tbody>
    <tr>
        <td align="center" style="color:#1A5CC8">
            <h1>Submit of {{ OJ }} {{ Prob }}</h1>
            <h3>Judge Status: {{ Status }}</h3>
            <h3>Submit Time: {{ Timesubmit }}</h3>
            <div style="color:#1A5CC8" align="center"><i>Author : {{ Author }}</i></div>
            <br>
        </td>
    </tr>

    <tr>
        <td align="center"><br>
            Problem&nbsp;<input type="text" readonly name="problemid"
                                style="width:120px;background-color:#F4FBFF;margin-right:40px"
                                value="{{ OJ }}{{ Prob }}">
            Language&nbsp;<input type="text" readonly name="language"
                                 style="width:120px;background-color:#F4FBFF;margin-right:40px" value="{{ language }}">

        </td>
    </tr>
    <tr>
        <td align="center"><br><h4 style="color:#1A5CC8">Source Code</h4></td>
    </tr>
    <tr>
        <td align="center"><br>
            <!--<textarea name="usercode" readonly style="width: 667px; height: 373px;background-color: #F4FBFF;font-family:'Courier New', Courier, monospace;">{{ Code }}</textarea>-->
            <div style="margin-left: 5%;margin-right: 5%">
                {% if language == 'Java' %}
                <pre><code class="language-java line-numbers" style="font-size: medium">{{ Code }}</code></pre>
                {% else %}
                <pre><code class="language-cpp line-numbers" style="font-size: medium">{{ Code }}</code></pre>
                {% end %}
            </div>
        </td>
    </tr>

    </tbody>
</table>

<script src="{{ static_url("js/prism.js") }}"></script>
{% end %}
