{% extends "main_struct.html" %}

{% block content %}

<form method="get" action="status">
    <strong>Problem ID:</strong>
    <input type="text" name="problem_id" size="8" value="">
    <strong>User Name:</strong>
    <input type="text" name="user_name" size="15" value="">
    <strong>OJ:</strong>
    <select size="1" name="oj">
        <option value="" selected="">All</option>
        <option value="HDU">HDU</option>
        <option value="PKU">PKU</option>
        <option value="ZOJ">ZOJ</option>
        <option value="Codeforces">Codeforces</option>
        <option value="BZOJ">BZOJ</option>
    </select>
    <strong>Result:</strong>
    <select size="1" name="status">
        <option value="" selected="">All</option>
        <option value="0">Accepted</option>
        <option value="1">Presentation Error</option>
        <option value="2">Time Limit Exceeded</option>
        <option value="3">Memory Limit Exceeded</option>
        <option value="4">Wrong Answer</option>
        <option value="5">Runtime Error</option>
        <option value="6">Output Limit Exceeded</option>
        <option value="7">Compile Error</option>
        <option value="8">Other</option>
        <option value="9">VJudge Error</option>
    </select>
    <strong>Language:</strong>
    <select size="1" name="language">
        <option value="" selected="">All</option>
        <!--<option value="G++">G++</option>-->
        <!--<option value="GCC">GCC</option>-->
        <option value="C++">C++</option>
        <option value="C">C</option>
        <option value="Java">Java</option>
        <!--<option value="Pascal">Pascal</option>-->
        <!--<option value="Fortran">Fortran</option>-->
        <!--<option value="Other">Other</option>-->
    </select>
    <input type="hidden" name="isSearch" value="isSearch">
    <input class="btn btn-outline" type="submit" width="18" value="Search">
</form>

<table border="1" class="flex-table-item-primary" bordercolor="#FFFFFF">
    <tbody>
    <tr align="center" bgcolor="#5f9ea0" >
        <td width="8%">Run ID</td>
        <td width="10%">User</td>
        <td width="6%">OJ</td>
        <td width="6%">Problem</td>
        <td width="20%">Result</td>
        <td width="7%">Memory</td>
        <td width="7%">Time</td>
        <td width="7%">Language</td>
        <td width="7%">Code Length</td>
        <td width="17%">Submit Time</td>
    </tr>

    {% for r in rs  %}
        {% module StatusList(r) %}
    {% end %}

    <!--
    <tr align="center" bgcolor="#f0f8ff">
        <td>15100169</td>
        <td><a href="#">fake_fan</a></td>
        <td><a href="#">POJ</a></td>
        <td><a href="#">2018</a></td>
        <td><font color="red">Wrong Answer</font></td>
        <td></td><td></td>
        <td>C++</td>
        <td>1088B</td>
        <td>2016-01-23 21:12:32</td>
    </tr>

    <tr align="center" bgcolor="#f0f8ff">
        <td>15100169</td>
        <td><a href="#">fake_fan</a></td>
        <td><a href="#">POJ</a></td>
        <td><a href="#">2018</a></td>
        <td><font color="red">Wrong Answer</font></td>
        <td></td><td></td>
        <td>C++</td>
        <td>1088B</td>
        <td>2016-01-23 21:12:32</td>
    </tr>
    -->

    </tbody>
</table>

<table align="center">
    <tr>
        <td>
            <form action="/redirection" method="post">
                {% raw xsrf_form_html() %}
                <input type="hidden" name="msg" value="st_top">
                <button class="btn btn-sm btn-outline" type="submit">Top</button>
            </form>
        </td>
        <td width="50px"/>
        <td>
            <form action="/redirection" method="post">
                {% raw xsrf_form_html() %}
                <input type="hidden" name="msg" value="st_prev">
                <button class="btn btn-sm btn-outline" type="submit">Previous Page</button>
            </form>
        </td>
        <td width="50px"/>

        {% try %}
            {% set hasnext = hasNext %}
        {% except NameError %}
            {% set hasnext = True %}
        {% end %}

        {% if hasnext == True %}
            <td>
                <form action="/redirection" method="post">
                    {% raw xsrf_form_html() %}
                    <input type="hidden" name="msg" value="st_next">
                    <button class="btn btn-sm btn-outline" type="submit">Next Page</button>
                </form>
            </td>
        {% elif hasnext == False%}
            <td>
                <button class="btn btn-sm btn-outline disabled" type="submit">Next Page</button>
            </td>
        {% end %}
    </tr>
</table>

{% end %}

