{% extends "main_struct.html" %}

{% block content %}

<div name="infotable" style="margin-left: 20%; margin-right: 20%">

    <h1>User Info:</h1>
    <form method="post" action="/userstatus?username={{ uname }}">
        {% raw xsrf_form_html() %}
        <table border="1" class="flex-table-item-primary" bordercolor="#FFFFFF">
            <tbody style="background-color: #f0f8ff">
            <tr>
                <td>
                    <h4>UserName:</h4>
                    <h1 style="color: #1A5CC8">{{ uname }}</h1>
                    <h2 style="color: darkmagenta;">Rank:{{ int(rank[0]) }}</h2>
                    <h2 style="color: darkmagenta;">{{ ("%.4lf%%"%(rank[4]*100)) }}&nbsp&nbsp{{ ("(AC: %d / TRY: %d)"%(rank[2],rank[3])) }}</h2>
                </td>
                <td rowspan="3" style="text-align: right">
                    <img alt="{{ uname }} Avatar" src="//cn.gravatar.com/avatar/{{ urlpart }}?d=mm&s=256">
                </td>
            </tr>
            <tr>
                <td>
                    <h4>Email:</h4>
                    <input type="email" class="input-large" name="email" value="{{ email }}">
                </td>
                <td></td>
            </tr>
            <tr>
                <td>
                    <h4>School:</h4>
                    <input type="text" class="input-large" name="school" value="{{ school }}">
                </td>
                <td></td>
            </tr>

            <tr>
                <td>
                    <h4>Password:</h4>
                    <input type="password" class="input-large" name="password" value="">
                </td>
                <td>
                    <h4>NewPassword:</h4>
                    <input type="password" class="input-large" name="newpassword" value="">
                </td>
            </tr>
            <tr>
                <td colspan="2" style="text-align: center">
                    <br>
                    <input type="hidden" name="username" value="{{ uname }}">
                    <input type="hidden" name="uid" value="{{ uid }}">
                    <input type="submit" class="btn btn-primary" value="Update User Info">
                </td>
            </tr>

            </tbody>
        </table>
    </form>

    <hr>

    <table style="width: 100%">
        <tbody>
        <tr>
            <td width="30%"><h1>Total AC:</h1></td>
            <td rowspan="2" style="width: 70%" align="right">
                <script src="{{ static_url("js/echarts.simple.min.js") }}"></script>
                <div id="graph" style="width: 450px;height: 300px;text-align: right"></div>
                <script type="text/javascript">
                    var myChart = echarts.init(document.getElementById('graph'));

                    var option = {
                        title: {
                            text: '{{ uname }}的提交统计',
                            subtext: 'power by ECharts',
                            x: 'center'
                        },
                        series: [
                            {
                                name: 'Statistics',
                                type: 'pie',
                                radius: '55%',
                                center: ['50%', '60%'],
                                data: [
                                    {% for x in submitdata %}
                                    {value:{{ x[1] }}, name: "{{ x[0] }}({{ x[1] }})"},
                                    {% end %}
                                ],
                                itemStyle: {
                                    emphasis: {
                                        shadowBlur: 10,
                                        shadowOffsetX: 0,
                                        shadowColor: 'rgba(0, 0, 0, 0.5)'
                                    }
                                }
                            }
                        ]
                    };

                    myChart.setOption(option);
                </script>
            </td>
        </tr>
        <tr>
            <td style="text-align: center"><h1 style="color: #6cc644">{{ len(rs) }} problem</h1></td>
            <td></td>
        </tr>
        </tbody>
    </table>

    <hr>

    <h1>Problem Solved:</h1>
    {% module SolvedProblem(username=username,rs=rs) %}

</div>
{% end %}
