{% extends "main_struct.html" %}

{% block content %}

<div name="infotable" style="margin-left: 25%; margin-right: 25%">

    <table border="1" class="flex-table-item-primary" bordercolor="#FFFFFF">
        <tbody style="background-color: #f0f8ff">
        <tr>
            <td>
                <h4>UserName:</h4>
                <p> username </p>
            </td>
            <td rowspan="3" style="text-align: right">
                <img alt="mxh1999 Avatar" src="//cn.gravatar.com/avatar/db0de0a4584ebfe5241c1730270707f9?d=mm&s=256">
            </td>
        </tr>
        <tr>
            <td>
                <h4>Email:</h4>
                <p>mxh1999@126.com</p>
            </td>
            <td></td>
        </tr>
        <tr>
            <td>
                <h4>School:</h4>
                <p>2B school</p>
            </td>
            <td></td>
        </tr>

        <tr>
            <td>
                <p>password</p>
            </td>
            <td>
                <p>newpassword</p>
            </td>
        </tr>
        <tr>
            <td colspan="2" style="text-align: center">
                <button class="btn-outline btn-sm">Update</button>
            </td>
        </tr>

        </tbody>
    </table>

    <hr>

    <h1>Total AC:</h1>
    <p>10086</p>

    <hr>

</div>
{% end %}
